@model Centric.Internship.Mvc.Models.EventModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
</head>
<body>

    <span style="font-size: 18pt;">@Model.Name - @Model.Location - @Model.Date!</span>

</body>
</html>
